name: Project release
on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up JDK 13
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
      with:
        java-version: '13'
        distribution: 'adopt'

    - name: Build with Gradle
      uses: gradle/gradle-build-action@093dfe9d598ec5a42246855d09b49dc76803c005
      with:
        arguments: jar

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./build/libs/*.jar
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true